@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Josefin Sans',Arial, sans-serif;
$font-tertiary: 'Nothing You Could Do', cursive;

$white: #fff;
$black: #000;
$darken: #121618;

$primary: #fac564;
$secondary: #f8b500;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $darken;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 300;
	color: lighten($black,50%);
	background: url(../images/bg_4.jpg) no-repeat fixed;
	background-size: cover;
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
span{
	color: lighten($black,75%);
}
